<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300&family=Playfair+Display:wght@500&family=Podkova&display=swap');
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link 
  id="favicon"
  rel="icon" 
  href="/images/picklecolor.png" 
  type="image/png"
  sizes="32x32"
  >
    <title><%= title %></title>
