  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>

  <nav>  
    <div class="primary-header">
      <div>
        <a href="/"><img src="/images/logo-words.png" id="logo"  alt="pickleball logo"></a>
      </div></div>
    <ul id="primary-navigation" >
      <div class="primary-navigation flex">
      <li class="active">
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/">
          <span aria-hidden="true">
            00
          </span>Home
        </a>
      </li>
      <li>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/courts/new">
          <span aria-hidden="true">
            01
          </span>Add A Court
        </a>
      </li>
    
    <li>
      <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/matches/new">
        <span aria-hidden="true">
          02
        </span>Add A Match
      </a>
    </li>
    <li>
      <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/matches">
        <span aria-hidden="true">
          03
        </span>Current Schedule
      </a>
    </li>
    <li>
      <% if (user) { %>
      <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/auth/logout">
        <span aria-hidden="true">
          04
        </span>Logout
      </a>
      <% } else { %>
        <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
    </li>
  </div>
  </ul>
  </nav>

