<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/matches/new.css" />
<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <% if (user) { %>
  <form id="new-form" action="/matches" method="POST">
      <label for="date-input">Date:</label>
      <input type="datetime-local" name="date" id="date-input">
      <label for="durationHr-input">Duration Hour:</label>
      <input type='number' name="durationHr" id="durationHr-input">
      <label for="courtId-input">Court:</label>
      <input type="text" name="courtId" id="courtId-input" autocomplete="off">
      <label for="fav-input">favorite:</label>
      <input type="checkbox" name="fav" id="fav-input">
      <label for="friends-input">Opponent:</label>
      <input type="text" name="friends" id="friends-input" autocomplete="off">
    
    <button type="submit">Add a Match☄️</button>
  </form>
  <% } %>
</main>
<%- include("../partials/footer") %>