<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/matches/new.css" />
<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <% if (user) { %>
  <form id="new-form" action="/matches" method="POST">
      <label for="date-input">Match Date:</label>
      <input type="datetime-local" name="date" id="date-input">
      <label for="durationHr-input">Match Duration Hour:</label>
      <input type='number' name="durationHr" value="1" id="durationHr-input">

      <label for="fav-input">favorite Court:</label>
      <input type="checkbox" name="fav" id="fav-input">
      <label for="friends-input">Match Opponent:</label>
      <input type="text" name="friends" id="friends-input" autocomplete="off">
    
    <button id="button-center" type="submit">Add a Match☄️</button>
  </form>
  <% } %>
</main>
<%- include("../partials/footer") %>