html {
  box-sizing: border-box;
  font-family: 'Maitree', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Podkova', serif;
  height: 100%;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #9BF8F4;
  /* background-image: url('/images/pickleball_xl.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0; */
  color: #333333;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif ;

  margin: 0;
}

/* nav {
  background-color: #b8c0c2;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  justify-content: flex-end;
} */

body > nav {
  grid-area: nav;
  background: hsla(177, 87%, 79%, 1);
  background: linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9bf8f4", endColorstr="#6f7bf7", GradientType=1 );
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;

}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: #424748;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  padding: 20px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.9);
  height: 100%;
}

h1 {
  font-size: 36px;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}

#pickly-nav h3 {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-weight: 200px;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: #1a1a1a;
  text-decoration: none;
}

pre {
  font-size: 14px;
}

nav > a:visited {
  color: #333333;
}

nav > a:hover {
  color: ghostwhite;
  background-color: rgba(111,123,247,0.6);
}

nav > a.active {
  color: ghostwhite;
}

form > button {

  padding: 10px;
  background-color: ghostwhite;
  border-radius: 400px;
  border: 1px solid #6f7bf7;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  color: #333333;
  
}

input {
  text-align: center;
  display: inline-block;
  padding: 0 16px 0 12px;
  width: 100%;
  line-height: 30px;
  height: 32px;
  border: 1px solid rgba(155,248,244);
  border-radius: 4px;
  background-color: ghostwhite;
  color: #333333;
  transition: border .1s linear,background-color .1s linear;
  :focus{
      border-color: #6f7bf7;
      color: var(--sds-c-input-text-color-focus);
      box-shadow: rgb(111,123,247) 0px 0px 3px 0px;
  }
}

.btn-show {

  padding: 10px;
  background-color: ghostwhite;
  border-radius: 400px;
  border: 1px solid #6f7bf7;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  color: black;
}

.link {
  padding: 12px 0;
  font-size: 18px;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

.inline {
  display: inline;
}

.right {
  margin-left: auto;
}

.flex{
  display:flex;
  gap: var(--gap,1rem);
}

.logo {
  margin: 2rem;
  width: 10%;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75em;
}





