html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #81A178;
  /* background-image: url('/images/pickleball_xl.png');
  background-size: cover;
  background-position: center; */
  color: #1a1a1a;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

/* nav {
  background-color: #b8c0c2;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  justify-content: flex-end;
} */

body > nav {
  grid-area: nav;
  background-color: #407195;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: #424748;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 18px;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: #1a1a1a;
}

pre {
  font-size: 14px;
}

nav > a:visited {
  color: #424748;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}

.btn {
  margin: 16px 0;
}

.btn-show {
  padding: 5px;
  border-radius: 5px;

}

.link {
  padding: 12px 0;
  font-size: 18px;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

.inline {
  display: inline;
}

.right {
  margin-left: auto;
}
